*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background-color: #33e023;
}
.container{
    width: 40%;
    min-width: 450px;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 30px;
    padding: 30px 40px;
}
#newtask{
    position: relative;
    background-color: #ffffff;
    padding: 30px 20px;
    border-radius: 10px;
}
#newtask input{
    width: 70%;
    height: 45px;
    font-size: 15px;
    border: 2px solid #9b9c9c;
    padding: 12px;
    color: #111111;
    position: relative;
    border-radius: 5px;
}
#newtask input:focus{
    outline: none;
    border-color: #161516;
}
#newtask button{
    position: relative;
    float: right;
    width: 20%;
    height: 45px;
    border-radius: 5px;
    font-size: 16px;
    background-color: #f17806;
    border: none;
    color: #ffffff;
    cursor: pointer;
    outline: none;
}
#tasks{
    background-color: #ffffff;
    padding: 30px 20px;
    margin-top: 50px;
    border-radius: 9px;
    width: 100%;
    position: relative;
}
.task{
    background-color: #09b7ecf6;
    height: 40px;
    padding: 5px 10px;
    margin-top: 6px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}
.task button{
    background-color: #d1f310;
    color: #e0199e;
    height: 110%;
    width: 40px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}